@model CreateProduct_ViewModel

<h5>
    <i class="bi bi-plus-circle-dotted"></i>
    Add New Product
    </h5>

<form asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            
            <div>
                <label asp-for="ProductName" class="form-label mt-4"></label>
                <input asp-for="ProductName" class="form-control" placeholder="Enter Product Name" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="Unit" class="control-label"></label>
                <input asp-for="Unit" class="form-control" placeholder="Enter Unit" />
                <span asp-validation-for="Unit" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" placeholder="Enter Price" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div >
                <label asp-for="InitialQuantity" class="control-label"></label>
                <input asp-for="InitialQuantity" class="form-control" placeholder="Enter Initial Quantity" />
                <span asp-validation-for="InitialQuantity" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Image" class="form-label mt-4"></label>
                <input type="file" class="form-control" asp-for="Image"
                       data-rule-extension="@FileSetting.allowedExtentions.Replace("." , string.Empty)"
                       data-msg-extension="Not Allowed Extention"
                       data-rule-filesize="@FileSetting.MaxFileSizeInBytes"
                       data-msg-filesize="Max Size  Allowed is @FileSetting.MaxFileSizeInMB MB!">

                <small class="form-text text-muted">Only @FileSetting.allowedExtentions Are Allowed With Size @(FileSetting.MaxFileSizeInMB)MB!.</small>
                <span asp-validation-for="Image" class="text-danger d-block"></span>
            </div>
            <div >
                <input type="submit" value="Save" class="btn btn-light text-black mt-4" />
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
            <img class="Image-preview d-none" alt="Cover Image" />
        </div>
    </div>
   
   
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/file-size-validator.js" asp-append-version="true"></script>
    <script src="~/js/display-image.js" asp-append-version="true"></script>
}